@import url('https://fonts.googleapis.com/css?family=Days+One');

.App {
  text-align: center;
  font-family: "Days One", sans-serif;
  font-size: large;
}

#navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #004593;
  
}

.nav-element{
  color: #F3E601;
  margin: 2vh 3vh;
  font-size: 3.5vh;
  text-decoration: none;
}

.active{
  color: white;
  font-weight: bold;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

li{
  margin: 15px;
}

.app-button{
  background-color: #004593;
  color: #F3E601;
  font-family: "Days One", sans-serif;
  font-size: medium;
  border: none;
  outline: none;
  margin: 10px;
}

/*---- HOME ----*/
h1#welcome{
  color: white;
  background-color: #004593;
  margin: 0;
  padding-top: 30px;
}

#home-container{
  height: 100vh;
  background-color: #004593;
}

#home-image{
  width: 60%;
}

/*---- SEARCH PAGE ----*/
.searchpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 30px;
}

.suchfeld-leiste {
  display: flex;
  height: 200px;
}

.inner-div {
  display: flex;
  border: 4px solid black;
  border-radius: 25px;
  height: 100%;
}

.laengsstreifen {
  background-color: #0149bf;
  width: 130px;
  border-radius: 25px 0 0 25px;
  text-align: center;
}

.logo-d {
  color: white;
  font-size: 60px;
}

.logo-image {
  border-radius: 50%;
  margin-top: 15px;
}

.search-input {
  font-size: 10vh;
  border-radius: 0 25px 25px 0;
  width: 99.2%;
  text-align: center;
}

.outer-div {
  width: 20%;
  text-align: center;
}

.sternkasten {
  text-align: center;
  margin-top: 2%;
}

.sternkasten > img {
  width: 15vh;
}

.infokasten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe401;
  align-self: center;
  /* padding: 1.5% 2%; */
  padding: 10px 20px 20px;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-section > label {
  font-size: 2.5vh;
  margin-right: 5px;
  flex: 1 1 8vw;
}

.info-answer {
  font-size: 2.5vh;
  /* text-align: center; */
  flex: 2 1 16vw;
}


/*---- INFO PAGE ----*/
.infopage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 25px;
  margin: 0 5vw;
}

.infopage-title {
  background-color: #ffe401;
  width: 100%;
  text-align: center;
}

.map-container  > img {
  width: 100%;
}

.image-container > img {
  width: 100%;
}

.wiki-link {
  margin-top: 20px;
  flex-grow: 1;
}

.wiki-link > a {
  display: inline-flex;
  font-size: 2.5vh;
  text-decoration: none;
  color: white;
  background-color: #004593;
  padding: 10px;
}

/*---- LISTEN ----*/

#listen{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

ul{
  list-style: none;
}

.list-element{
  background-color: yellow;
  width: 30%;
  padding: 15px;
  margin: 35px;
}

.list-link{
  color: black;
}

/*---- DKARTE ----*/

h1#dkarte{
  background-color: yellow;
  margin: 30px 120px 5px;
  padding-bottom: 20px;
}

#map-container {
  height: 100vh;
}

/*---- QUIZ ----*/

#quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.frage{
  margin: 30px;
}

.antwort{
  margin: 30px;
}


#logout{
  background-color: #004593;
  color: #F3E601;
  font-family: "Days One", sans-serif;
  border: none;
  outline: none;
}

#logout:hover{
  cursor: pointer;
}

/*---- SIGN UP & LOGIN ----*/

.signup-page {
  display: flex;
  justify-content: center;
}

.login-page {
  display: flex;
  justify-content: center;
}

form {
  width: 20%;
  margin-top: 2%;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3%;
}

label {
  flex: 1;    /*shorthand for flex-grow: 1; flex-shrink: 1; flex-basis: 0%*/
}

.form-input {
  flex: 2;   /*shorthand for flex-grow: 2; flex-shrink: 1; flex-basis: 0%*/
}

.app-button {
  flex:0 0 auto;
}