.App {
  text-align: center;
}

#navbar{
  background-color: #004593;
  
}

.nav-element{
  color: #F3E601;
  margin: 30px;
  font-size: 1.5rem;
  text-decoration: none;
}

#suchfeld-container{
  background-repeat: no-repeat;
  background-image: url(/public/kfz_2.jpg);
}

#kennzeichen-suchfeld{
  margin: 30px;
}

.list-element{
  margin: 30px;
}

#map-container {
  height: 100vh;
}


.frage{
  margin: 30px;
}

.antwort{
  margin: 30px;
}